*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.rubocop-https---raw-githubusercontent-com-rentpath-style-guides-master-ruby--rubocop-yml
.tags
coverage
coverage.data
log
pkg
rdoc
tags
vendor
