- @configuration.each do |section, settings|
  %h2= section
  %table.settings
    - settings.each_with_index do |(setting, value), i|
      %tr{ :class => i%2==0 ? 'even' : nil }
        %td.key= setting
        %td.value
          %pre&= print_detail(value)

